.about-container{
div[data-testid="about-1"] {
  width: 100%;
  padding: 2em;
  background-color: antiquewhite;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
}

  div[data-testid="about-1"] h1 {
    color: #000000;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  div[data-testid="about-1"] h3 {
    color: #000000;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  
  div[data-testid="about-1"] p {
    color: #000000;
    line-height: 1.6;
    font-size: 1em;
    text-indent: 2em;
  }
}

