.product-page {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.head-image {
  width: 20%; /* Ancho de las imágenes */
}

.body-image {
  width: 20%; /* Ancho de las imágenes */
}

.legs-image {
  width: 20%; /* Ancho de las imágenes */
}

.shoes-image {
  width: 20%; /* Ancho de las imágenes */
}

.head-image img, .body-image img, .legs-image img, .shoes-image img, .socks-image img {
  width: 100%;
  max-width: 100%; /* Tamaño máximo de las imágenes */
}

.product-details {
  max-width: 50%; /* Ancho máximo de los detalles del producto */
}

.product-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 20px;
  color: #ff0000;
  margin-bottom: 20px;
}

.product-description {
  margin-bottom: 20px;
}

.product-sizes {
  margin-bottom: 20px;
}

.size-button {
  margin-right: 10px;
  border: none;
  background-color: #f0f0f0;
  padding: 5px 10px;
  cursor: pointer;
}

.size-button.selected {
  background-color: #0000ff;
  color: #ffffff;
}

.add-to-cart-button {
  background-color: #0000ff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.BodyPage {
  margin: 0 auto; /* Centrar el panel */
  width: 50%; /* Ancho del panel */
  padding: 3em; /* Ajustar el espacio interno del panel */
  text-align: center;
  background-color: antiquewhite;
}
