.page-title {
  text-align: center;
}

@font-face {
  font-family: 'WC Mano Negra Bold';
  src: url('../styleSheets/Fuentes/WCManoNegraBoldBta.ttf') format('truetype');
}

@font-face {
  font-family: 'Lava Pro Grunge';
  src: url('../styleSheets/Fuentes/3rdMan.ttf') format('truetype');
}

.letra-conjuntos1 {
  font-family: 'WC Mano Negra Bold', sans-serif;
  font-size: 34px;
  font-weight: bold;
  color: #929FA9; /* Color de la fuente */
}

.letra-conjuntos2 {
  font-family: 'Lava Pro Grunge', sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: #929FA9; /* Color de la fuente */
}

.btn-conjuntos1.selected h1 {
  color: rgb(145, 21, 21); /* Color de la fuente cuando está seleccionado */
}

.clean-container{
  user-select:none;
  width: 20%;
  font-size:2em;
  border-radius: 12px;
  padding: 12px;
  margin: 10px;
}

.clothing-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.clothing-box-1{
  user-select:none;
  width: 20%;
  background-color: #999E67;
  font-size:2em;
  border-radius: 12px;
  border: 1px solid black;
  padding: 12px;
  margin: 20px;
}
.clothing-box-2{
  user-select:none;
  width: 20%;
  background-color: #A17F7A;
  font-size: 1vw;
  font-size:2em;
  border-radius: 12px;
  border: 1px solid black;
  padding: 12px;
  margin: 20px;
}

.img{
  width: 100%;
}
.BodyPage {
  width: 100%;
  margin: 0 auto; 
  text-align: center;
  background-color: antiquewhite;
}

.ProductPage{
  width: 75%;
  margin: 0 auto; 
  background-color: rgb(255, 255, 255);
}

.Header{
  padding: 2px;
  background-color:white;
}


.product-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas, cada una con igual tamaño */
  gap: 20px; /* Espacio entre las imágenes */
}


.head-image {
  width: 20%; /* Ancho de las imágenes */
  grid-column: 1;
}

.body-image {
  width: 20%; /* Ancho de las imágenes */
  grid-column: 2;
}

.legs-image {
  width: 20%; /* Ancho de las imágenes */
  grid-column: 3;
}

.shoes-image {
  width: 20%; /* Ancho de las imágenes */
  grid-column: 4;
}

.head-image img, .body-image img, .legs-image img, .shoes-image img, .socks-image img {
  width: 100%;
  max-width: 100%; /* Tamaño máximo de las imágenes */
}

.product-details {
  max-width: 50%; /* Ancho máximo de los detalles del producto */
}

.product-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 20px;
  color: #ff0000;
  margin-bottom: 20px;
}

.product-description {
  margin-bottom: 20px;
}

.product-sizes {
  margin-bottom: 20px;
}

.size-button {
  margin-right: 10px;
  border: none;
  background-color: #f0f0f0;
  padding: 5px 10px;
  cursor: pointer;
}

.size-button.selected {
  background-color: #0000ff;
  color: #ffffff;
}

.add-to-cart-button {
  background-color: #0000ff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
