.Testimonio{
    width: 1170px;
    height: 368px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    align-items: center;
    background-color: #c68a40;
    user-select: none;
}

.Contenedor-texto{
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.Nombre-Persona{
    font-size: 20px;
    font-style: oblique;
}
.Texto-Testimonio {
    margin: 0;   
}
    