.Encabezado{
    position: fixed;
}

.Logo{
    background: transparent;
}

.button-tittle{
    font-size: large;
    text-align: left;
    background-color: transparent;
}

.top-container{
    text-align: left;
    margin-left: 25px;
}

.botones{
    margin: 25px;
}