.Encabezado{
    padding: 1em;
    display:grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    position: fixed;
    background-color: transparent;
}
.top-titulo{
    margin-top: 15px;
    font-size: large;
    text-align: left;
}
.top-container{
    text-align: left;
    margin-left: 25px;
}