.ImagesHeader{
  padding: 1em;
  background: transparent;
}

.Body {
  padding: 10em;
  text-align: center;
  background-color: antiquewhite;
}

.Footer {
  padding: 10em;
  display: flex;
  background-color:rgb(101, 71, 129);
}